* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

.header-container {
}

.header {
    position: relative;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
    background: rgb(0, 188, 212);
}

.menu-list {
    position: relative;
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.45);
}

.switch {
    display: none;
}

.indexes {
}

.indexes .indexes-group {
    display: block;
    border-bottom: 1px solid #ebebeb;
}

.indexes .indexes-group .group-name {
    height: 48px;
    line-height: 48px;
    padding-left: 12px;
}

.indexes .indexes-group .group-indexes {
    background: #ffffff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 2%;
    background: #ebebeb;
    /*-webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);*/
}

.indexes .indexes-group .group-indexes-hidden {
    display: none;
}

.group-indexes > div {
    margin-left: 1%;
    margin-top: 4px;
    width: 23%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    float: left;
}

.group-indexes > div.notCompleted:hover {
    border: 1px solid rgb(0, 188, 212);
    color: rgb(0, 188, 212);
}

.group-indexes > div.completed:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.group-indexes > div.current:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.indexes .indexes-group .group-indexes:after {
    content: ' ';
    display: block;
    clear: both;
}

.user-info {

}

.status {
    background: #f2f2f2;
    position: fixed;
    bottom: 0px;
    height: 96px;
    width: 100%;
    display: -webkit-flex;
    display: flex;
}

.examination-status {
    height: inherit;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 359px) {
    /*剩余时间*/
    .time-left {
        flex: 1;
        display: -webkit-flex;
        display: flex;
    }

    .progress {
        flex: 1;
        display: -webkit-flex;
        display: flex;
    }

    .time-left > div,
    .progress > div {
        padding-left: 24px;
        line-height: 48px;
    }
}

.control {
    width: 112px;
    height: inherit;
    display: -webkit-flex;
    display: flex;
}

.control > div {
    flex: 1;
    height: inherit;
}

.my-container {
    height: 100%;
}

.header-right-menu {
    width: 48px;
    height: inherit;
    background: url('../img/post.png') no-repeat 50% 50%;
}

/** large-screen */
@media only screen and (min-width: 769px) {

    .profile-container {
    }

    .profile {
        position: relative;
        display: block;
        height: 64px;
        padding-left: 24px;
        background: rgb(0, 188, 212);
        -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.45);
    }

    .welcome {
        color: #ffffff;
        font-size: 14px;
        padding-top: 8px;
    }

    .username {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
        padding-top: 8px;
    }

    .avactar {
        position: absolute;
        top: 8px;
        right: 64px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid #eaf5f2;
    }

    .header-right-menu {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 48px;
        height: inherit;
        background: url('../img/post.png') no-repeat 50% 50%;
    }

    .indexes {
        display: block;
        height: calc(100% - 64px);
        /*overflow-y: scroll;*/
    }

    .examination {
        display: block;
        height: calc(100% - 64px);
        /*overflow-y: scroll;*/
    }

    .question {
        display: block;
    }

    .question .title {
        font-size: 18px;
        font-weight: bold;
        padding: 12px;
    }

    .question .answers {
        padding: 6px 24px;
    }

    .status {
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 96px;
        display: -webkit-flex;
        display: flex;
    }

    .control {
        width: 144px;
        height: inherit;
        display: -webkit-flex;
        display: flex;
    }
}

/** mobile */
@media only screen and (max-width: 768px) {

    .header-container {
        right: 0px;
        top: 0px;
        left: 0px;
        position: fixed;
        height: 48px;
    }

    .header {
        position: relative;
        display: flex;
        display: -webkit-flex;
        height: 48px;
        line-height: 48px;
        text-align: center;
        background: rgb(0, 188, 212);
    }

    .switch {
        display: block;
        width: 48px;
        height: inherit;
    }

    .switch > img {
        margin-top: 14px;
        /*margin-left: 10px;*/
    }

    .title {
        /*min-width: 240px;*/
        flex: 1;
    }

    .profile-container {
    }

    .profile {
        height: 164px;
        text-align: center;
        background: rgb(0, 188, 212);
    }

    .avactar {
        width: 64px;
        height: 64px;
        margin-left: calc(50% - 32px);
        border-radius: 50%;
        border: 1px solid #eaf5f2;
        margin-top: 8px;
    }

    .welcome {
        color: #ffffff;
        font-size: 18px;
        margin-left: 16px;
        padding-top: 12px;
    }

    .username {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
        padding-top: 8px;
    }

    .indexes {
        display: block;
        height: calc(100% - 164px);
        /*margin-top: 164px;*/
        overflow-y: scroll;
    }

    .examination {
        display: block;
        height: calc(100% - 72px);
        overflow-y: scroll;
        padding-top: 48px;
    }

    .user-info {
    }

    .question {
        display: block;
    }

    .question .title {
        font-size: 17px;
        font-weight: bold;
        padding: 6px 12px;
    }

    .question .answers {
        padding: 6px 12px;
    }
}

/** small mobile */
/*@media only screen and (max-width: 480px) {*/
/*.time-left > div,*/
/*.progress > div {*/
/*padding-left: 8px;*/
/*line-height: 48px;*/
/*font-size: 14px;*/
/*}*/
/*}*/

/** smallest mobile */
@media only screen and (max-width: 480px) {
    .status {
        background: #f2f2f2;
        position: fixed;
        bottom: 0px;
        height: 72px;
        width: 100%;
        display: block;
    }

    .examination-status {
        float: left;
        height: inherit;
        width: calc(100% - 96px);
        display: block;
    }

    .examination-status:after {
        content: ' ';
        display: block;
        clear: both;
    }

    .progress {
        height: 36px;
    }

    .time-left {
        height: 36px;
    }

    .time-left > div,
    .progress > div {
        float: left;
        width: 50%;
        padding-left: 8px;
        line-height: 36px;
        font-size: 14px;
    }

    .time-left > div:last-child,
    .progress > div:last-child {
        padding-left: 0px;
    }

    .control {
        width: 96px;
        height: inherit;
    }

    .control > div {
        float: left;
        width: 50%;
        height: inherit;
    }
}

.question .answers li {
    font-size: 16px;
    padding: 8px 0px;
    display: flex;
    display: -webkit-flex;
    width: 100%;
    overflow: hidden;
    height: auto;
}

.question .answers input {
    margin-left: 2px;
    margin-top: 2px;
}

.question .answers div {
    flex: 1;
}

.question .answers label {
    display: inline-block;
    margin-top: -10px;
    padding-left: 8px;
}

.completed {
    background: #66b3ff;
    color: white;
}

.notCompleted {
    background: #ffffff;
}

.current {
    background: #FFC125;
    color: rgb(0, 188, 212);
}

.goNext {
    background: url('../img/arrow_right.png') no-repeat 50% 50%;
}

.goNext-hl {
    background: url('../img/arrow_right_hl.png') no-repeat 50% 50%;
}

.goPre {
    background: url('../img/arrow_left.png') no-repeat 50% 50%;
}

.goPre-hl {
    background: url('../img/arrow_left_hl.png') no-repeat 50% 50%;
}

.greet {
    font-weight: bold;
    color: #00d6b2;
}

.notice {
    font-weight: bold;
    color: #ff4400;
}
